/* Setup Player Ships */
.displayContent{
  text-align: center;
  margin-top:5vh;
  margin-bottom:10vh;
}
.displayText{
  font-size:30px;
}
.playerShipSetup {
  display: grid;
  width: 540px;
  height: 520px;
  margin: auto;
}
.tile 
{
  border: 2px solid grey;
  background-color:skyblue;
}

.validTile
{
  background-color:grey;
  border: 2px solid black;
}
.invalidTile{
  background-color: red;
  cursor: not-allowed;
}
.selectedTile{
  background-color:grey;
  border:2px solid black;
  cursor: not-allowed;
}