/* Setup Player Ships */
.displayContent{
  text-align: center;
  margin-top:5vh;
  margin-bottom:10vh;
}
.displayText{
  font-size:30px;
}
.playerShipSetup {
  display: grid;
  width: 540px;
  height: 520px;
  margin: auto;
}
.tile 
{
  border: 2px solid grey;
  background-color:skyblue;
}

.validTile
{
  background-color:grey;
  border: 2px solid black;
}
.invalidTile{
  background-color: red;
  cursor: not-allowed;
}
.selectedTile{
  background-color:grey;
  border:2px solid black;
  cursor: not-allowed;
}

/* Gameboards */
.gameboardsContainer{
  display:flex;
  align-content:space-between;
}

.playerBoard, .computerBoard {
  display: grid;
  width: 540px;
  height: 520px;
  margin: auto;
}

.hoverEnemyBoard{
  cursor: crosshair;
  background-color:rgba(135,206,238,0.8);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.times{
  transform: translateY(-4%);
}




/* CSS Animations */
